<div class="bg-img">
  <form class="container">
    <h1>Book Tour</h1>

    <label for="email"><b>Email</b></label>
    <input type="text" placeholder="Email" name="email" required>

    <label for="name"><b>Name</b></label>
    <input type="text" placeholder="Name" name="name" required>
    
    <label for="psw"><b>Phone Number</b></label>
    <input type="password" placeholder="Phone Number" name="psw" required>

    <div class="col-1-3 col-1-3-sm m-2">
      <div class="controls">
        <i class="fa fa-sort"></i>
        <select class="floatLabel">
          <option value="blank"></option>
          <option value="1">1</option>
          <option value="2" selected>2</option>
          <option value="3">3</option>
        </select>
        <label for="fruit"><i class="fa fa-male"></i>&nbsp;&nbsp; No of People</label>
      </div>      
    </div>

    <button type="submit" class="btn_booking">Book</button>
  </form>
</div>